<div class="row">
    <div class="col-md-12 col-12" style="text-align: center;">
        <span style="padding: 10px 10px;">
            <h2><b>Lista de Pessoas</b></h2>
        </span>
    </div>
    <div class="col-md-12 col-12" *ngIf="listaPessoas">
        <div class="table-wrap">
            <table class="table table-responsive-xl table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width: 10px; text-align: center;">ID</th>
                        <th style="width: 150px;">Nome</th>
                        <th style="text-align: center; width: 10px;">Idade</th>
                        <th style="width: 150px;">E-mail</th>
                        <th style="text-align: center; width: 25%;">Telefone</th>
                        <th style="text-align: center; width: 15%;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of listaPessoas">
                    <tr class="alert" role="alert" style="cursor: pointer;" >
                        <td style="text-align: center;" >
                            <label class="checkbox-wrap checkbox-primary">
                                {{item.pessoaId}}
                            </label>
                        </td>
                        <td class="" (click)="ListaContatos(item)">
                            <div class="email">
                                <span>{{item.name}}</span>
                            </div>
                        </td>
                        <td style="text-align: center;">{{item.idade}}</td>
                        <td>{{item.email}}</td>
                        <td class="status" style="text-align: center;">
                            <span>{{item.phone | mask: '(00) 0 0000-0000'}}</span>
                        </td>
                        <td style="text-align: center;">
                            <button (click)="ListaContatos(item)" class="btn btn-primary">
                                <span aria-hidden="true">Detalhes</span>
                            </button>
                        </td>
                    </tr>
                </ng-container>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 col-12">
        <button (click)="CadastrarPessoa()" class="btn btn-info" style="float: right;">
            <span aria-hidden="true" style="color: white;">Cadastrar Pessoa</span>
        </button>
    </div>
</div>